<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{177,749},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{121,515},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{133,633},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{123,349},{34,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{219,49},{38,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{219,139},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{123,385},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{123,411},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{151,749},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{123,437},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{123,463},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{107,633},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{53,167},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{123,489},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{50,92}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{1,97},{50,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,94}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{157,1},{46,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{201,715},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{107,557},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{107,595},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{17,295},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{17,349},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{17,403},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{17,457},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{17,511},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,671},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{95,143},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{149,165},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{55,563},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{55,617},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{55,671},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,217},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,271},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,325},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,379},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,433},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,487},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,541},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{151,595},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{43,191},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{95,195},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{93,247},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{69,299},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{69,351},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{69,403},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{69,455},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,563},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,617},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{26,48}</string>
                <key>textureRect</key>
                <string>{{219,89},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{26,48}</string>
                <key>textureRect</key>
                <string>{{123,299},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,40}</string>
                <key>spriteSourceSize</key>
                <string>{102,40}</string>
                <key>textureRect</key>
                <string>{{53,1},{102,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,40}</string>
                <key>spriteSourceSize</key>
                <string>{102,40}</string>
                <key>textureRect</key>
                <string>{{1,191},{102,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,40}</string>
                <key>spriteSourceSize</key>
                <string>{102,40}</string>
                <key>textureRect</key>
                <string>{{53,43},{102,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{95,85},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{157,49},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{157,107},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,14}</string>
                <key>spriteSourceSize</key>
                <string>{120,14}</string>
                <key>textureRect</key>
                <string>{{1,295},{120,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,14}</string>
                <key>spriteSourceSize</key>
                <string>{120,14}</string>
                <key>textureRect</key>
                <string>{{1,417},{120,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,723},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{51,723},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,165},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,215},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{101,723},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,265},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,315},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,365},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,415},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,465},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,515},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,565},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{203,615},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{43,245},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{71,507},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{151,649},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{201,665},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thu/icon/chat/change/clan/auto/changeItem/pk/auto/btn_pk/pk_attack/touch_click/chat_form/chat_world/outgame/clan/pay/daugia/detu/pet/menu/tab/btn_tiemnang/BAR_hp/bag/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{151,699},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_tab0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{53,85},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigUI.png</string>
            <key>size</key>
            <string>{252,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85f367d1bb3d923a586190616038e3ee:2b6f9c95fcf032a03f1d90b00df6c81d:b06f604dced72cf863c9839cc8f3fd17$</string>
            <key>textureFileName</key>
            <string>bigUI.png</string>
        </dict>
    </dict>
</plist>
