<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c45345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{149,223},{62,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgdsfg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{1,223},{64,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>t456456456t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,70}</string>
                <key>textureRect</key>
                <string>{{1,289},{62,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2Main_Image_interface_4_tren_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,410},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{149,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,75},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{75,75},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{149,75},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,149},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bga9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{75,149},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2Main_Image_interface_bgb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{149,149},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcvbxcb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{63,410},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xzcvxz45656.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,62}</string>
                <key>textureRect</key>
                <string>{{75,223},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xzcvxzvc5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{1,353},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zxcv3333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{143,352},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zxcv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{75,285},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zxcv444.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{73,348},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zxcvzxcv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{70,63}</string>
                <key>textureRect</key>
                <string>{{148,287},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIScreen.png</string>
            <key>size</key>
            <string>{222,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d22a73702cb8ddf236594409d9c1e32:b6bb9c955dd70aca1305d73653b8f014:7f81c5ca516f4f711d4e4a9bcdc91ecd$</string>
            <key>textureFileName</key>
            <string>UIScreen.png</string>
        </dict>
    </dict>
</plist>
