<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs2_v3_vs2_v3_22xcvb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,178}</string>
                <key>spriteSourceSize</key>
                <string>{85,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vs2_v3_vs2_v3_22xcvb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,357}</string>
                <key>spriteSourceSize</key>
                <string>{171,357}</string>
                <key>textureRect</key>
                <string>{{1,98},{171,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vs2_v3_vs2_v3_25xcvb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,424}</string>
                <key>spriteSourceSize</key>
                <string>{187,424}</string>
                <key>textureRect</key>
                <string>{{1,271},{187,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vs2_v3_vs2_v3_2xcvb41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,204}</string>
                <key>spriteSourceSize</key>
                <string>{95,204}</string>
                <key>textureRect</key>
                <string>{{181,1},{95,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vs2_v3_vs2_v3_2xcvb42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,409}</string>
                <key>spriteSourceSize</key>
                <string>{191,409}</string>
                <key>textureRect</key>
                <string>{{1,650},{191,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vs2_v3_vs2_v3_2xcvb53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,425}</string>
                <key>spriteSourceSize</key>
                <string>{188,425}</string>
                <key>textureRect</key>
                <string>{{1,460},{188,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill1_vs2_cc.png</string>
            <key>size</key>
            <string>{427,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e89738d8089f72bbd6cd0c7c712d988d:74d66e8a872f34b6d93ff8764c6e1089:9bcc2b80c97fa9eae6d7ae55e7013f0c$</string>
            <key>textureFileName</key>
            <string>skill1_vs2_cc.png</string>
        </dict>
    </dict>
</plist>
